<h1>AJAX Demo Pages</h1>

<p>This project is used to demo use of AJAX for visual effects.</p>

<h2>Ruby on Rails Ajax Demo Programs</h2>
<ul><% @urls.each do |url| %>
<li><%= link_to (url, :action => url.to_sym ) %></li>
<% end %></ul>

