<h1>Listing junks</h1>

<table>
  <tr>
  </tr>

<% for junk in @junks %>
  <tr>
    <td><%= link_to 'Show', junk %></td>
    <td><%= link_to 'Edit', edit_junk_path(junk) %></td>
    <td><%= link_to 'Destroy', junk, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New junk', new_junk_path %>
