	<div id="ft">
 		copyright (c)2008 penz by design, all rights reserved<br />
original photography by <a href="http://www.akelphoto.com/">AKEL Studios</a><br />
web design by <a href="http://webicus.com">webicus</a><br />
 	</div>