<div id="ft">
    copyright (c)2008 penz by design, all rights reserved
    <br/>
    web design by <a href="http://akelstudio.com">AKELStudio</a>, web development by <a href="http://webicus.com">webicus</a>
    <br/>
</div>
