	
	<div id="central">
		

	</div> <!-- central content area - replaceable content -->

	<div id="subbody" style="margin-top: <%=@margin_top%>;"> <!-- area under image, static -->
	<%= render :partial => 'panels'%>
	<br clear="all"/>
	<%= render :partial => 'footer' %>
	</div> <!-- subbody -->

		