
	<% if (defined? @colors) %>
	<div id="copy-mkt1">
	<h1>Colors</h1>
	<p>We offer a wide selection of colors which include specialized acrylics, celluloid, and woods. Because each of our color selections offer a unique design no one pen is ever alike. Thus, a unique handcrafted writing instrument crafted just for you.
	</p>	
    </div>
    <% elsif @collection.title == "collector series" %>
	<div id="copy-mkt1">
	<h1><%= @collection.title%></h1>
	<p><%= @collection.description%></p>
    </div>
	<% else %>
	<div id="copy-mkt">
	<h1><%= @collection.title%></h1>
	<p><%= @collection.description%></p>
    </div>
    <% end %>
