	<img class="back" src="/images/background/blue-fountain.blur.jpg" alt="" />
	
	<div id="central">
		
    <div id="copy-content">
        <h1>WHO WE ARE</h1>

<p>Penz by Design Incorporated is based in Atlanta GA and focuses on the design of handcrafted writing instruments.  The idea of creating custom writing instruments originated with the owner Stacy Robinson who wanted to offer more than just the off the shelf single color pen. Stacy wanted his customers to have the option of choosing both style, color, and engraving options for their writing instruments.  Now, after years of offering private consultation to select collector clientele, Penz by Design has broadened their line of finely crafted writing instruments to include an additional focus on corporate customers. We believe are Elite and Corporate selections offer a broad range of choices for all of our customers who want a unique handcrafted writing instrument.  
</p>
    </div>
	</div> <!-- central content area - replaceable content -->

	<div id="subbody"> <!-- area under image, static -->

	<br clear="all"/>
	<%= render :partial => 'footer' %>
	</div> <!-- subbody -->

		