	<img class="back" src="/images/background/about.jpg" alt="" />
	
	<div id="central">
		

	</div> <!-- central content area - replaceable content -->

	<div id="subbody"> <!-- area under image, static -->
    <div id="copy-content">
        <h1>ABOUT PENZ BY DESIGN</h1>

<p>Penz by Design Incorporated is based in Atlanta GA and focuses on the design of handcrafted writing instruments.  The company offers unique, handcrafted writing instruments for customers wanting a preference in style, material, and color.  We also offer custom engraving on most of our products giving them a more personalized appearance.  After years of offering private consultation to select collector clientele, Penz by Design now offers a line of Corporate and Elite writing instruments for those who want a unique design for everyday use. </p>
    </div>
	<br clear="all"/>
	<%= render :partial => 'footer' %>
	</div> <!-- subbody -->

		