	<img class="back" src="/images/background/parrot-coll.jpg" alt="" />
	
	<div id="central">
		

	</div> <!-- central content area - replaceable content -->

	<div id="subbody" style="margin-top: -230px;"> <!-- area under image, static -->
	<%= render :partial => 'panels'%>
	<br clear="all"/>
	<%= render :partial => 'footer' %>
	</div> <!-- subbody -->

		