	<img class="back" src="/images/background/about.jpg" alt="" />
	
	<div id="central">
		

	</div> <!-- central content area - replaceable content -->

	<div id="subbody"> <!-- area under image, static -->
    <div id="copy-content">
    	<% if flash[:notice] %>
<p style="color: green; background-color:#ccc;border-style:solid;padding: 50px;">
<%= flash[:notice] %></p>
<% end %>
<h1>CONTACT US</h1>

<div id="intro" style="float: right; padding: 0 0 0 30px;">
        	<h3>Headquarters:</h3>	

<p>4355 Cobb Parkway<br />
Suite J 521<br />
Atlanta, GA 30339-2496<br />
Phone: 1-877-736-7117<br />
Email:  orders@penzbydesign.com<br />
</p>
</div>





<h3>Request for Information:</h3>

<p>If you would like information on our products and pricing, please complete the information below and we will be pleased to contact you.
</p>

<%= render :partial => "contact_form" %>



    </div>
	<br clear="all"/>
	<%= render :partial => 'footer' %>
	</div> <!-- subbody -->

		