	<img class="back" src="/images/background/home_page.jpg" alt="" />
	
	<div id="central">
		

	<div class="copy" id="copy-home">

        <p>
            At Penz by Design you create your own writing experience.  You select the style, color, material, and we do the rest.  Because we use unique acrylics, celluloid, and exotic woods, no one writing instrument is alike. Thus, a fine handcrafted writing instrument made just for you.         </p>
    </div>
	
	</div> <!-- central content area - replaceable content -->

	<div id="subbody"> <!-- area under image, static -->

	<br clear="all"/>
	<%= render :partial => 'footer' %>
	</div> <!-- subbody -->

		