	<img class="back" src="/images/background/parrot-angle.jpg" alt="" />
	
	<div id="central">
		
    <div class="copy" id="copy-home">
        <h1>Penz by Design</h1>
        <p>
            Future home of Penz by Design
        </p>
    </div>
	</div> <!-- central content area - replaceable content -->


		