	<img class="back" src="/images/background/about.jpg" alt="" />
	
	<div id="central">

	</div> <!-- central content area - replaceable content -->

	<div id="subbody"> <!-- area under image, static -->
    <div id="copy-content">
        <h1>Our Products</h1>
        <p>
            From the careful detailed designs of our Legacy writing instrument to the outstanding durability of the Sidney Signature,  we take pride in delivering the very best to our customers.  Using only the highest quality materials in exotic woods, acrylics, celluloid, rhodium, gold, titanium and sterling silver we offer some of the finest finishes in the industry.  Finally, our master artisans rigorously inspect each component to ensure they meet our superior standards of quality.         </p>
        <h2>Warranty &amp; Return Policy</h2>
        <p>
            If you find that you are not 100% satisfied with your purchase within the first 30 days* simply call us for authorization and return the item undamaged less shipping charges. (*excludes personalized engraving on accessories and writing instruments) 
            All Penz by Design writing instruments are guaranteed for 3 years from the original purchase date. During the warranty period, we will repair or replace your writing instrument for any failure in mechanism or workmanship due to normal use. Shipping charges for returning the item will be the responsibility of the customer.  
            Excluded from this warranty are parts that are exhausted during normal use and wear (i.e. ink cartridges, leads, erasers, metal plating), or items that have been misused, abused or altered (including engraving). Also excluded are direct or consequential damages to persons, property or materials, for which you agree to indemnify and hold Penz by Design, and (as applicable) our parent, subsidiaries, affiliates, officers, directors, agents, and employees, harmless from any claim or demand. Your purchase of any of our products constitutes your agreement to these terms. 
        </p>
    </div>
	<br clear="all"/>
	<%= render :partial => 'footer' %>
	</div> <!-- subbody -->

		