html {
    background-color: #545E8B;
}

body {
    font-family: helvetica, Arial, sans-serif;
    text-align: left;
    color: #ffffff;
    background: #545e8b;
    /*
     background: #383e61;
     background-image: url(/assets/gradient-background.png);
     */
    background-repeat: repeat-x;
    margin: auto 0;
} #custom-doc {
		margin: auto;
    width: 79.8461em; /*1038+15 = 1053 ==81em, 1038/13.=79.8461 1038 - 79.8462em; */ 
	* * width: 77.85em;

}

h1, h2, h3 {
    margin-top: 0px;
} #lnav {
    font-size: 100%;
    font-style: italic;
    text-align: right;
    left: 54px;
    position: absolute;
    top: 215px;
    left: 55px;
    color: #ffffff;
    padding: 2px;
    /*
     background-image: url(/assets/1c12ed-op-15.png);
     */
    text-transform: uppercase;
} #tag-line {
    position: absolute;
    top: 4px;
    left: 670px;
    color: #ffffff;
    font-family: "Edwardian Script ITC";
    font-size: 233%;
} #container { /* body, container */
    position: relative;
    background-image: url(/assets/container-background.gif);
    margin: 0 0 0 5px;
    /*
     border: 5px solid #FFF;
     */
} #central { /* body, container */
    position: absolute;
    top: 0;
    left: 0;
}

a:link, a:visited { /* unvisited, and visited links*/
    color: #fff;
    text-decoration: underline;
}

a:hover, a:active, .basic a:hover { /* hover and when clicked */
    text-decoration: none;
    background-color: #ccc;
} #lnav ul {
    margin: 0;
    padding: 0;
} #lnav ul li {
    list-style-type: none;
} #lnav ul li a:link, #lnav ul li a:visited, #lnav ul li a:hover, #lnav ul li a:active { /* unvisited, and visited links*/
    color: #fff;
    text-decoration: none;
} #lnav ul li a:hover, #lnav ul li a:active { /* hover and when clicked */
    text-decoration: underline;
    background-image: none;
    background-color: transparent;
} #logo {
    left: 18px;
    position: absolute;
    top: 31px;
} .copy {
    background-image: url(/assets/383e61-op-20.png);
    padding: 20px 10px;
} .back {
    z-index: 0;
} #copy-home {
    z-index: 5;
    position: absolute;
    top: 298px;
    left: 228px;
    width: 200px;
    font-style: italic;
    background-image: none;
} #copy-content {
    z-index: 5;
    position: relative;
    left: 100px;
    width: 800px;
    font-style: italic;
    /*
     background-image: url(/assets/383e61-op-50.png);
     */
    padding: 1.7em;
} #copy-mkt, #copy-mkt1 {
    z-index: 5;
    position: absolute;
    top: 280px;
    left: 455px;
    width: 41.158em; *

width: *
    40.1291em;
    /*
     background-image:    url(/assets/ffffff-op-15.png);
     */
padding:
    1.7em 1.7em;

font-style:italic;
} #copy-mkt1 {
    left: 455px;
    top: 253px;
} #copy-mkt h1, #copy-mkt1 h1 {
    text-transform: capitalize;
}

/*
 ============================
 */
p img {
    margin: 10px;
}

/* Left Bar */ .basic {
    font-family: verdana;
    border: 1px solid black;
} .basic div {
} .basic p {
    margin-bottom: 10px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 77%;
    margin: 0px;
    padding: 10px;
    /*
     text-align: center;
     */
} .basic p.panelcopy {
    margin: 0.8em 5px 0 5px;
    padding: .5em;
    background-image: url(/assets/b9c4d8-op-45.png);
    color: #dbc055;
} .basic a {
    cursor: pointer;
    display: block;
    margin-top: 0;
    text-decoration: none;
    font-size: 100%;
    color: white;
    background-image: url(/assets/ffffff-op-15.png);
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #999;
} .basic a:hover {
    text-decoration: underline;
    color: #383e61;
    background-color: #ccc;
} .basic a.selected {
    background-image: url(/assets/ffffff-op-15.png);
} #subbody {
    position: relative;
    margin-left: 1.2307em; *

margin-left:
    1.2000em;
} #ft {
    position: relative;
    text-align: center;
    padding: 0.5em 0;
    /*
     display: none;
     */
} #pen_image_odd, #pen_image_even {
    position: relative;
    background-image: url(/assets/purple-gradient-op-95.png);
    margin-left: 223px;
    margin-top: 41px;
} #pen_image_odd img, #pen_image_even img {
    margin: 60px 4px;
} .basic a img {
    display: inline;
} .panel-body a, .panel-body a:hover {
    display: inline;
    background-image: none;
    cursor: default;
    border: none;
    margin: 0;
} .panel-body a:hover {
    background-color: transparent;
    background-image: url(/assets/ffffff-op-15.png);
}

