<div id="lnav">
    <ul>
    	        <li>
            <a href="/pen/index">home</a>
        </li>
        <li>
            <a href="/pen/collector">our products</a>
        </li>
        <li>
            <a href="/pen/collector">collector</a>
        </li>
        <li>
            <a href="/pen/corporate">corporate</a>
        </li>
        <li>
            <a href="/pen/elite">elite</a>
        </li>
        <li>
            <a href="/pen/collector">colors</a>
        </li>
        <li>
            <a href="/pen/collector">about us</a>
        </li>
        <li>
            <a href="/pen/collector">contact us</a>
        </li>
    </ul>
</div>
<div id="tag-line">
	Penz by Design - <strong>Make it your own</strong>
</div>
