<div id="lnav">
    <ul>
    	        <li>
            <a href="/pen/index">home</a>
        </li>
        <li>
            <a href="/pen/our_products">our products</a>
        </li>
        <li>
            <a href="/pen/collector">collector series</a>
        </li>
        <li>
            <a href="/pen/elite">elite series</a>
        </li>
        <li>
            <a href="/pen/corporate">corporate series</a>
        </li>

        <li>
            <a href="/pen/color">colors</a>
        </li>
        <li>
            <a href="/pen/about_us">about us</a>
        </li>
        <li>
            <a href="/pen/contact_us">contact us</a>
        </li>
    </ul>
</div>

